@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/2850287/pexels-photo-2850287.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.quote {
  background: rgba(239, 237, 237, 0.8);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 40%;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.quote h2 {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  margin-bottom: 0.5rem;
}

.quote small {
  font-size: 1.6rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-top: 0.7rem;
  padding-left: 20rem;
}

.btn {
  border: 2px solid #008CBA;
  background: #008CBA;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  margin-top: 2rem;
  outline: none;
}

.btn:hover {
  background: #0473e3;
  color: #fff;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  .quote {
    padding: 10px;
    margin-top: 1rem;
    width: 90%;
  }

  .quote h2 {
    font-size: 2rem;
  }

  .quote small {
    font-size: 1.2rem;
    margin-left: 0;
    padding-left: 0;
  }

  .btn {
    font-size: 1rem;
    padding: 8px 12px;
    margin-top: 1.5rem;
  }
}
